<? include('header.phtml'); ?>
<script src="/dist/ckeditor/ckeditor.js"></script>
<style type="text/css">
  .ui.form.user_form{
    padding-bottom: 3em;
  }
</style>
 <script>

    $(document)
        .ready(function() {
            <?php 
              if( $apply_id ){?>
                $('#english_ability_id').dropdown('set selected',<?= $apply->get_english_ability_id()?>);
                $('#highest_education_id').dropdown('set selected',<?= $apply->get_highest_education_id()?>);
            <?php }
            ?>   

            $('.ui.form.apply_form')
              .form({
               
              })
            ; 
        });
    </script>
<div class="ui header"></div>
<h2 class="ui blue header center aligned">履歷資料</h2>

<!-- <?php if( !($_SESSION['error_msg']) && $_SESSION['last_url'] == '/user/apply/update' && $post_msg ){ ?>
<div class="ui success message">
  <i class="close icon"></i>
  <div class="header"><?= $post_msg ?></div>
</div>
<script>
  $('.ui.success.message')
    .visibility({
      transition: 'fade out',
      duration: 1000
    })
  ;
</script>
<?php }?> -->

  <form class="ui form apply_form" method="post" action="/user/apply/update" id="apply_from" enctype="multipart/form-data"> 

      <div class="field textinput">
      <input type="text" name="name" id="apply_name" value="<?= ($apply_id?$apply->getName():'')?>">
      <label class="up" for="name">姓名</label>
      </div>     
      <div class="field textinput">
      <input type="text" name="email" id="apply_email" value="<?= ($apply_id?$apply->getEmail():'')?>"><label class="up" for="email">信箱</label>
      </div>
      <div class="field textinput">
      <input type="text" name="phone" id="apply_phone" value="<?= ($apply_id?$apply->getPhone():'')?>"><label class="up" for="phone">電話</label>
      </div>
      <div class="field textinput">
         <input value="<?= ($apply->get_age_year()==0)?'': $apply->get_age_year() ?>" name="age_year" id="age_year" type="text"> 
         <label class="up">出生年份</label>
      </div>
      <div class="field textinput">
       <input value="<?= ($apply->get_graduate_year()==0)?'': $apply->get_graduate_year()?>" name="graduate_year" id="graduate_year" type="text">
       <label class="up">畢業年份</label> 
      </div>
      <div class="field textinput">
      <input type="text" name="gradute_school" id="gradute_school" value="<?= ($apply_id?$apply->get_gradute_school():'')?>"><label class="up" for="gradute_school">畢業學校</label>
      </div>
      <div class="field textinput"> 
      <input type="text" name="gradute_master" id="gradute_master" value="<?= ($apply_id?$apply->get_gradute_master():'')?>"><label class="up" for="gradute_master">畢業科系</label>
      </div>

      <div class="field textinput">
      <input type="text" name="latest_company" id="latest_company" value="<?= ($apply_id?$apply->get_latest_company():'')?>"><label class="up"for="latest_company">目前或最後一間公司名稱</label>
      </div>
      <div class="field textinput">
      <input type="text" name="latest_job_title" id="latest_job_title" value="<?= ($apply_id?$apply->get_latest_job_title():'')?>"><label class="up" for="latest_job_title">目前或最後一份工作職稱</label>
      </div>
      

      <div class="field textinput"><label>英文能力</label>
          <select name="english_ability_id" id="english_ability_id" class="ui selection dropdown" > 
          <option value=""></option>
              <?php
              foreach($englishs as $english): ?>
                  <option value="<?=$english->getId()?>"><?=$english->getEnglish()?></option>
              <?php
              endforeach;
              ?>
          </select><br />
      </div>
      <div class="field textinput"><label>最高學歷</label>
          <select name="highest_education_id" id="highest_education_id" class="ui selection dropdown" > 
          <option value=""></option>
              <?php
              foreach($educations as $education): ?>
                  <option value="<?=$education->getId()?>"><?=$education->getEducation()?></option>
              <?php
              endforeach;
              ?>
          </select><br />
      </div>
      <?php
        $file_path = $_SERVER['DOCUMENT_ROOT'] .'/application/'.$apply->getCVpath();
        $web_path = $base_url.'/application/'.$apply->getCVpath();
        if( is_file($file_path) ){
          echo '
            <div class="field"><span class="resume_preview">履歷預覽：<a target="_blank" href="'.$web_path.'">'.$apply->getCVpath().'</a> </span>
              <div class="ui checkbox">
                <input type="checkbox" name="resume_delete">
                <label>刪除已上傳履歷。</label>
              </div>
            </div>
          ';
        }

      ?>
      <div class="field"><label>上傳履歷（大小不超过 20M，僅支持 pdf/docx/doc 格式）</label>
         <input type="hidden" name="cv_path" value="<?= $apply->getCVpath()?>">  
         <input accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="newfile" id="newfile"> 
      </div>

      <div class="field textinput"><label>處理資料的相關能力經驗</label>
      <textarea type="text" name="experience" id="experience"><?= ($apply_id?$apply->get_experience():'')?></textarea>
      </div>
      
      <div class="field textinput"><label>其他能力, 經驗</label>
        <textarea type="text" name="other" id="other"><?= ($apply_id?$apply->getOther():'')?></textarea>
      </div>
      <div class="ui error message"></div>
      <div class="ui primary submit right floated button">儲存</div>
  </form>
<script>
 $('#newfile').bind('change', function() {
  var size= 20971520;
  // var size= 100;
     if (document.getElementById('newfile').value) {
        var file_size=document.getElementById('newfile').files[0].size;
          if(file_size>=size){
              document.getElementById('newfile').value = ''
              alert('檔案大小不能超過 '+size/1048576+' M');
              return false;
          }
    }
});
    CKEDITOR.replace( 'experience' );
    CKEDITOR.replace( 'other' );
    // CKEDITOR.instances['experience'].setData('ewijfwefiwe');
    $('ui.selection.dropdown')
      .dropdown()
    ;
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
</script>
<? include('footer.phtml'); ?>