<? include('header.phtml'); ?>
<style type="text/css">
  
  .ui.segment {
    border-radius: 0;
  }
</style>
<script>
    $(document)
        .ready(function() {
            $('.ui.form.login_form')
              .form({
                on: 'blur',
                inline: true,
                fields: {
                  email: {
                    identifier  : 'email',
                    rules: [
                      {
                        type   : 'email',
                        prompt : '請輸入有效 e-mail'
                      }
                    ]
                  }
                }
              })
            ; 
             <?php if( isset($_SESSION['error_msg']) ){ ?>

              $('.ui.form.login_form').form('add prompt','<?= $_SESSION['error_msg']['field']?>','<?= $_SESSION['error_msg']['error']?>');
          
            <?}?>
        });
    </script>
<div class="ui header"></div>
<h2 class="ui blue header center aligned">重發認證信</h2>
<form class="ui form login_form" method="post" action="/confirmation/new"> 
    <div class="field textinput">
    <input type="text" name="email" id="email"><label for="email" class="up">電子信箱</label>
    </div>
  <div class="ui breadcrumb form_button_breadcrumb">
  <a class="section" href="/login">登入</a>
  <div class="divider"> / </div>
  <a class="section" href="/user/new">註冊</a>
  <div class="divider"> / </div>
  <a class="section" href="/password/new">忘記密碼</a>
</div>
    <button class="form_submit ui primary right floated button" type="submit">重發認證信</button>
</form>

<? include('footer.phtml'); ?>