<? include('header.phtml'); ?>
<style>
/*  .ui.cards{
    clear: both;
  }*/
/*  .ui.card>.extra, .ui.cards>.card>.extra{
    padding: 0em 1em;
  }*/
  div.status-container-edit span,div.status-container-show span{
    display: block;
  }
</style>
<div class="ui header"></div>
<h2 class="ui header center aligned blue">
    管理刊登職缺
</h2>
<form method="get" action="/jobs/dashboard/admin">
    <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="search" name="keyword" value="" placeholder="Search">
        <button class="ui button">搜尋</button>
      </div>
</form>
<!-- <div class="ui header"> -->
<h4 class="ui right floated header">
  共有 <?= $result->total ?> 個職缺
</h4>
<!-- </div> -->
<div class="ui item">
<?php foreach($jobs as $job): ?>
  
      <div class="ui card">
      <a class="content" href="/jobs/admin/edit/<?=$job->getId()?>">              
        <!-- <div  >     -->
            <?php 
              $color = '';  
              switch ($job->getJobType()) {
                case '全職':
                  $color= 'green';
                  break;
                case '兼職':
                  $color= 'black';
                  break;
                case '實習':
                  $color= 'red';
                  break;
                default:
                  $color= 'gray';
                  break;
              } 
            ?>
            <div class="right floated ui <?= $color ?> label"><?=$job->getJobType()?></div>

            <div class="right floated ui <?= ($job->getVisible())==1? 'yellow':'gray' ?> label"><?= ($job->getVisible())==1? '上架':'下架'?></div>            
            <div class="right floated ui <?= ($job->getVerify())==1? 'blue':'gray' ?> label"><?= ($job->getVerify())==1? '審核通過':'審核中' ?></div>
                    
            <div class="header"><?=$job->getJobTitle()?></div>
            <div class="meta">公司地點：<?=$job->getPlace()?></div>
            <div class="description">公司名稱：<?=$job->getCompany()?><div class="right floated description">更新時間： <?= $job->getDateMod() ?> </div></div>
            <div class="description">刊登日期： <?= $job->getDatePost() ?> <div class="right floated description">有效日期： <?= $job->getDateExpired() ?></div></div>
            <div class="description">收到 <?= $job_mapper->applyCount($job->getId()) ?> 封履歷<div class="right floated description">張貼人：<?=$job->get_owener_email()?> [ <?=$job->get_owener_name()?> ]</div></div>
      </a>
      </div>
              

<?php endforeach; ?>
</div>
<?php echo $Paginator->createLinks($path,$url); ?> 

<? include('footer.phtml'); ?>