<? include('header.phtml'); ?>
<div class="ui header"></div>
  <h2 class="ui header center aligned blue">我的刊登職缺</h2>
  <h4 class="ui right floated header">
    共有 <?= $result ?> 個職缺
  </h4>
<div class="ui item">
<?php foreach($jobs as $job): ?>
  <div class="ui card">
<!--     <a class="content" href="/jobs/edit/<?=$job->getId()?>">
        <div class="right floated ui green label"><?=$job->getJobType()?></div>
        <div class="right floated ui <?= ($job->getVisible())==0? 'gray':'yellow' ?> label"><?= ($job->getVisible())==0? '下架':'上架'?></div>            
        <div class="right floated ui <?= ($job->getVerify())==0? 'gray':'blue' ?> label"><?= ($job->getVerify())==0? '審核中':'審核通過' ?></div>
        <div class="header"><?=$job->getJobTitle()?></div>
        <div class="description"><?=$job->getCompany()?></div>
        <div class="description"><?=$job->getPlace()?></div> 
    </a> -->
    <a class="content" href="/jobs/edit/<?=$job->getId()?>">              
        <!-- <div  >     -->
            <?php 
              $color = '';  
              switch ($job->getJobType()) {
                case '全職':
                  $color= 'green';
                  break;
                case '兼職':
                  $color= 'black';
                  break;
                case '實習':
                  $color= 'red';
                  break;
                default:
                  $color= 'gray';
                  break;
              } 
            ?>
            <div class="right floated ui <?= $color ?> label"><?=$job->getJobType()?></div>

            <div class="right floated ui <?= ($job->getVisible())==1? 'yellow':'gray' ?> label"><?= ($job->getVisible())==1? '上架':'下架'?></div>            
            <div class="right floated ui <?= ($job->getVerify())==1? 'blue':'gray' ?> label"><?= ($job->getVerify())==1? '審核通過':'審核中' ?></div>
                    
            <div class="header"><?=$job->getJobTitle()?></div>
            <div class="meta">公司地點：<?=$job->getPlace()?></div>
            <div class="description">公司名稱：<?=$job->getCompany()?><div class="right floated description">刊登日期： <?= $job->getDatePost() ?> </div></div>

            <div class="description">收到 <?= $jobs_mapper->applyCount($job->getId()) ?> 封履歷<div class="right floated description">更新時間： <?= $job->getDateMod() ?> </div></div>
      </a>
</div>
<?php endforeach; ?>
</div>

<? include('footer.phtml'); ?>