        </div>
        <div class="footer">本徵才服務由<a target="_blank" href="http://foundation.datasci.tw/">台灣資料科學協會</a>提供。如有任何問題或建議，歡迎隨時來信與我們聯絡： <a href="mailto:secretary@datasci.tw" target="_top">secretary@datasci.tw</a>  |  <a data-tooltip="Facebook" data-position="top center" data-inverted="" href="https://www.facebook.com/twdsconf/" target="_blank">協會粉絲頁</a></div>
    </div>
</body>

</html>
