<html>

<head>
    <title>資料科學人才媒合平台</title>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <?php ?>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    
    <?php if(isset($job_detail)){ 

                $file_path = $_SERVER['DOCUMENT_ROOT'] .'/job_logo_crop/'.$job_detail->getLogoPath();
                $web_path = '';
                if( is_file($file_path) ){
                  $web_path = $base_url.'/job_logo_crop/'.$job_detail->getLogoPath();      
                  echo '<meta content="'.$web_path.'" property="og:image">';
                }else{
                  echo '<meta content="http://jobs.datasci.tw/img/job_fb.png" property="og:image">';
                }
      
                echo '<meta content="'. $job_detail->getJobTitle().' - '. $job_detail->getCompany().'" property="og:title">';
                echo '<meta content="'. str_replace(array("\r\n","\r"),"", strip_tags($job_detail->getJobDescription())).'" property="og:description">'; 

            }else{
                echo'<meta content="資料科學人才媒合平台" property="og:title">
                <meta content="台灣資料科學協會為便利資料運用需求者與提供者之互動、媒合，建立「資料科學人才媒合平台」，期許資料人才有更多合作，共創有生產力且有巨量價值的資料科學生態區圈。" property="og:description">
                <meta content="http://jobs.datasci.tw/img/job_fb.png" property="og:image">';
          }
    ?>
    <meta content="website" property="og:type">
    <meta content="<?= $path_url?>" property="og:url">
    <meta content="image/png" property="og:image:type">
    <meta content="資料科學人才媒合平台" property="og:site_name">
    <link rel="shortcut icon" href="http://jobs.datasci.tw/favicon.ico" type="image/x-icon" />

    <!-- Site Properties -->
    <link rel="stylesheet" type="text/css" href="<?=$base_url?>/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="<?=$base_url?>/dist/main.css?<?= time() ?>">
    <link rel="stylesheet" type="text/css" href="<?=$base_url?>/dist/ckeditor_html.css">

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="<?=$base_url?>/dist/semantic.js?<?= time() ?>"></script>
    <script>
UPLOADCARE_PUBLIC_KEY = '34c75043bd29a5d1fd32';
</script>       
    <script>

    $(document)
        .ready(function() {
            
            $(document).on('change keyup paste', 'input[type="number"]', function(){
                setTimeout(jQuery.proxy(function() {
                    this.val(this.val().replace(/[^0-9]/g, ''));
                }, $(this)), 0);
            });
            <?php 
                if(isset($_SESSION['mail_msg'])){?>
                    alert('<?=$_SESSION['mail_msg']?>');
                    <?php unset($_SESSION['mail_msg']);
                } 
            ?> 
            $( ".field.textinput input").each(function( index ) {
                  // console.log( index + ": " + $( this )[0].value );
                  if ($(this)[0].value != "") {
                    $(this).addClass('filled');
                  } else {
                    $(this).removeClass('filled');
                  }
                });
            $('.form').on('keyup change', 'input, select, textarea', function(){
              $( ".field.textinput input").each(function( index ) {
                  // console.log( index + ": " + $( this )[0].value );
                  if ($(this)[0].value != "") {
                    $(this).addClass('filled');
                  } else {
                    $(this).removeClass('filled');
                  }
                });
            });

            $('.masthead')
                .visibility({
                  once: false,
                  onBottomPassed: function() {
                    $('.fixed.menu').transition('fade in');
                  },
                  onBottomPassedReverse: function() {
                    $('.fixed.menu').transition('fade out');
                  }
                })
              ;
            $('.ui.sidebar')
                .sidebar('attach events', '.toc.item');
            $('.ui.accordion')
                .accordion();
        });
    </script>
</head>

<body>
    <div class="ui borderless top fixed menu transition hidden">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo" src="/img/datasci_job.svg">
            </a>
            <div class="ui simple dropdown item">
                分類瀏覽職缺 <i class="dropdown icon"></i>
                <div class="menu">
                    <?php foreach($categorys as $category): ?>
                    <a class="item" href="<?=$base_url?>?category=<?=$category->getId()?>"><?=$category->getCategory()?></a>
                    <?php endforeach; ?>
                    <a class="item" href="<?=$base_url?>?category=">全部</a>
                </div>
            </div>
            <div class="right menu">
                <a href="<?=$base_url?>/jobs/new" class="item apply_icon">
                    刊登職缺
                </a>
                
                <?php if( isset($_SESSION['login']) ){?>
                <div class="ui simple dropdown item">
                    <?= $_SESSION['login']['email']; ?> <i class="dropdown icon"></i>
                    <div class="menu">
                        <?php if( $_SESSION['verify'] == 1){ ?>
                            <a class="item" href="/jobs/dashboard/admin">管理刊登職缺</a>
                            <a class="item" href="/users/admin">管理會員</a>
                            <div class="divider"></div>
                        <?}?>  
                        <a class="item" href="/user/update">更改會員資料</a>
                        <a class="item" href="/user/apply/update">更改我的履歷</a>
                        <a class="item" href="/jobs/dashboard">我的刊登職缺</a>
                        <a class="item" href="/user/apply/history">我的應徵紀錄</a>
                        <a class="item" href="/logout">登出</a>
                    </div>
                </div>    
                <?}else{?>
                    <a href="<?=$base_url?>/login" class="item">
                        <i class="user icon"></i>登入或註冊
                    </a>
                <?}?>    
            </div>
        </div>
    </div>
    <!-- Sidebar Menu -->
    <div class="ui right sidebar vertical accordion menu">
        <div class="item">
            <a class="active title">
                <i class="dropdown icon"></i> 分類瀏覽職缺
            </a>
            <div class="active content menu">
                <?php foreach($categorys as $category): ?>
                <a class="item" href="<?=$base_url?>?category=<?=$category->getId()?>"><?=$category->getCategory()?></a>
                <?php endforeach; ?>
                <a class="item" href="<?=$base_url?>?category=">全部</a>
            </div>
        </div>
        <a href="<?=$base_url?>/jobs/new" class="item apply_icon">
            刊登職缺
        </a>
        <?php if( isset($_SESSION['login']) ){?>
        <div class="item">
            <a class="active title">
                <i class="dropdown icon"></i> <?= $_SESSION['login']['email'] ?> 
            </a>
            
            <div class="active content menu">
                <?php if( $_SESSION['verify'] == 1){ ?>
                    <a class="item" href="/jobs/dashboard/admin">管理刊登職缺</a>
                    <a class="item" href="/users/admin">管理會員</a>
                    <div class="divider"></div>
                <?}?>  
                <a class="item" href="/user/update">更改會員資料</a>
                <a class="item" href="/user/apply/update">更改我的履歷</a>
                <a class="item" href="/jobs/dashboard">我的刊登職缺</a>
                <a class="item" href="/user/apply/history">我的應徵紀錄</a>
                <a class="item" href="/logout">登出</a>
            </div>
        </div>    
        <?}else{?>
            <a href="<?=$base_url?>/login" class="item">
                登入或註冊
            </a>
        <?}?>    


    </div>
    
    <!-- Page Contents -->
    <div class="pusher">
        <div class="masthead">
        <div class="ui borderless push-inside main menu">
            <div class="ui container">
                <a href="/" class="header item">
                    <img class="logo" src="/img/datasci_job.svg">
                </a>
                <div class="ui simple dropdown item">
                    分類瀏覽職缺 <i class="dropdown icon"></i>
                    <div class="menu">
                        <?php foreach($categorys as $category): ?>
                        <a class="item" href="<?=$base_url?>?category=<?=$category->getId()?>"><?=$category->getCategory()?></a>
                        <?php endforeach; ?>
                        <a class="item" href="<?=$base_url?>?category=">全部</a>
                    </div>
                </div>
                <div class="right menu">
                    <a href="<?=$base_url?>/jobs/new" class="item apply_icon">
                        刊登職缺
                    </a>
                    <?php if( isset($_SESSION['login']) ){ ?>
                    <div class="ui simple dropdown item">
                        <?= $_SESSION['login']['email']; ?> <i class="dropdown icon"></i>
                        <div class="menu">
                            <?php if( $_SESSION['verify'] == 1){ ?>
                                <a class="item" href="/jobs/dashboard/admin">管理刊登職缺</a>
                                <a class="item" href="/users/admin">管理會員</a>
                                <div class="divider"></div>
                            <?}?>   
                            <a class="item" href="/user/update">更改會員資料</a>
                            <a class="item" href="/user/apply/update">更改我的履歷</a>
                            <a class="item" href="/jobs/dashboard">我的刊登職缺</a>
                            <a class="item" href="/user/apply/history">我的應徵紀錄</a>
                            <a class="item" href="/logout">登出</a>
                        </div>
                    </div>    
                    <?}else{?>
                        <a href="<?=$base_url?>/login" class="item">
                            <i class="user icon"></i>登入或註冊
                        </a>
                    <?}?>    
                </div>
                <a class="right toc item">
                    <i class="sidebar icon"></i>
                </a>
            </div>
        </div></div>
        <div class="ui container"><?php 

  // print_r( $_SESSION);
?>
