<? include('header.phtml'); ?>
<style>
  form .input {
    margin-top: 1em;
    width: 100%;
  }
</style> 
<form method="get" action="/">
    <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="hidden" name="category" value="<?= $hidden_category ?>">
        <input type="search" name="keyword" value="" placeholder="Search">
        <button class="ui button">搜尋</button>
      </div>
</form>
<h4 class="ui left floated header">
    職缺列表
  </h4>
  <h4 class="ui right floated header">
    共有 <?= $result->total ?> 個職缺
  </h4>
<div class="ui item">
<?php foreach($jobs as $job): ?>       
      <div class="ui card">
        <a class="content" href="/jobs/<?=$job->getId()?>">


            <?php 

              $color = '';  
              switch ($job->getJobType()) {
                case '全職':
                  $color= 'green';
                  break;
                case '兼職':
                  $color= 'black';
                  break;
                case '實習':
                  $color= 'red';
                  break;
                default:
                  $color= 'gray';
                  break;
              } 
            ?>
            <div class="right floated ui <?= $color ?> label"><?=$job->getJobType()?></div>
            <div class="header"><?=$job->getJobTitle()?></div>
            <div class="description">公司名稱：<?=$job->getCompany()?> </div>
            <div class="description">公司地點：<?=$job->getPlace()?><div class="right floated description">經驗需求：<?=$job->getExperience()?> </div></div>
                  <?php 
              $salary_mon_max = $job->get_salary_mon_max();
              $salary_mon_min = $job->get_salary_mon_min();
              $salary_str = '';
              if( $salary_mon_max && $salary_mon_max > $salary_mon_min ){
                $salary_str = '月薪 NT$'. number_format($salary_mon_min) .' - NT$'.number_format( $salary_mon_max ); 
              }else{
                $salary_str = '月薪 NT$'. number_format($salary_mon_min) .' 起，依能力經驗面議';
              }
            ?>

            <div class="description">薪資範圍：<?= $salary_str ?> <div class="right floated description">職務分類：<?=$job->getCategory()?> </div></div>  
        </a>
        </div>    
<?php endforeach; ?>
</div>
<?php echo $Paginator->createLinks('',$url); ?> 

<? include('footer.phtml'); ?>