<? include('header.phtml'); ?>
<style>  
.ui.form.apply_form{
    padding: 1.5em 0;
}
.ui.modal>.actions.center{
    text-align: center;
}
.ui.accordion .title:not(.ui) {
    padding: 1.5em;
}
.ui.accordion .title {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
    /* Style the buttons that are used to open and close the accordion panel */
button.accordion_test {
    background-color: #0071BB;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion_test.active, button.accordion_test:hover {
    background-color: rgba(0, 113, 187, 0.46)
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
   padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

@media only screen and (min-width: 500px) {
  img.job_logo {
    float: right;
  }
}
@media only screen and (max-width: 499px) {
  .image {
    padding: 1em 0;
  }
}
.image{
    float: right;
    width: 200px;
    height: 0;
    background-size: 200px;
    background-repeat: no-repeat;
    padding-bottom: 230px;
    background-image: url("<?php 
        $file_path = $_SERVER['DOCUMENT_ROOT'] .'/job_logo_crop/'.$job_detail->getLogoPath();
        $web_path = '';
        if( is_file($file_path) ){
          $web_path = $base_url.'/job_logo_crop/'.$job_detail->getLogoPath();      
          echo $web_path;
        }
      ?>");
}
</style>  
<script src="/dist/ckeditor/ckeditor.js"></script>
<script type="text/javascript">
   $(document)
        .ready(function() {
            <?php if( $apply_id ){ ?>
              user_apply_tmp(); 
            <? } ?> 

            $('.ui.form.apply_form')
              .form({
                on: 'blur',
                inline: true,
                fields: {
                  name: {
                    identifier  : 'name',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入姓名'
                      }
                    ]
                  },
                  email: {
                    identifier  : 'email',
                    rules: [
                      {
                        type   : 'email',
                        prompt : '請輸入有效信箱'
                      }
                    ]
                  },
                  phone: {
                    identifier  : 'phone',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入電話'
                      }
                    ]
                  },
                  age_year: {
                    identifier  : 'age_year',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入出生年份'
                      }
                    ]
                  },
                  graduate_year: {
                    identifier  : 'graduate_year',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入畢業年份'
                      }
                    ]
                  },
                  gradute_school: {
                    identifier  : 'gradute_school',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入畢業學校'
                      }
                    ]
                  },
                  gradute_master: {
                    identifier  : 'gradute_master',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入畢業科系'
                      }
                    ]
                  },
                  latest_company: {
                    identifier  : 'latest_company',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入目前或最後一間公司名稱'
                      }
                    ]
                  },
                  latest_job_title: {
                    identifier  : 'latest_job_title',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入目前或最後一份工作職稱'
                      }
                    ]
                  },
                  english_ability_id: {
                    identifier  : 'english_ability_id',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請選擇英文能力'
                      }
                    ]
                  },
                  highest_education_id: {
                    identifier  : 'highest_education_id',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請選擇最高學歷'
                      }
                    ]
                  }
                
                }
              })
            ; 
        });
</script>

<div class="ui divided items job_detail_container">
	<div class="item">
		<div class="content">	
			
			<div class="header"><?= $job_detail->getJobTitle()?></div>
			
			<div class="description"><?= $job_detail->getCompany()?>   <?php echo ($job_detail->getCompanyDepart()=='')?'':"(".$job_detail->getCompanyDepart().")"?>   </div><div class="ui right floated green label"><?=$job_detail->getJobType()?></div>
			<div class="description"><a target="_blank" href="http://maps.google.com/?q=<?= $job_detail->getPlace()?>"><?= $job_detail->getPlace()?></a></div>
		</div>
	</div>
	<div class="item">
		<div class="content">	
			<div class="header blue">工作簡介</div>
      <?php 
        $file_path = $_SERVER['DOCUMENT_ROOT'] .'/job_logo_crop/'.$job_detail->getLogoPath();
        $web_path = '';
        if( is_file($file_path) ){
          $web_path = $base_url.'/job_logo_crop/'.$job_detail->getLogoPath();      
          echo '<div class="image">
    
          </div>';
        }
      ?>
      <!-- <img class="job_logo" src="'. $web_path.'"> -->
			<div class="description">公司網址： <a target="_blank" href="<?= $job_detail->getWebsite()?>"><?= $job_detail->getWebsite()?></a></div>
			<div class="description">工作類型： <a target="_blank" href="<?=$base_url?>/?category=&keyword=<?= $job_detail->getJobType()?>"><?= $job_detail->getJobType()?></a></div>
			<div class="description">經驗需求： <?= $job_detail->getExperience()?></div>
			<div class="description">職務分類： <a target="_blank" href="<?=$base_url?>/?category=<?= $job_detail->getCategoryId()?>"><?= $job_detail->getCategory()?></a></div>
			<?php 
        $salary_mon_max = $job_detail->get_salary_mon_max();
        $salary_mon_min = $job_detail->get_salary_mon_min();
        $salary_str = '';
        if( $salary_mon_max && $salary_mon_max > $salary_mon_min ){
          $salary_str = '月薪 NT$'. number_format($salary_mon_min) .' - NT$'.number_format( $salary_mon_max ); 
        }else{
          $salary_str = '月薪 NT$'. number_format($salary_mon_min) .' 起，依能力經驗面議';
        }
      ?>
    

      <div class="description">薪資範圍： <?= $salary_str ?> </div>			
			<div class="description">工作職稱： <a target="_blank" href="<?=$base_url?>/?category=&keyword=<?= $job_detail->getJobTitle()?>"><?= $job_detail->getJobTitle()?></a></div>
      <div class="description">刊登日期： <?= $job_detail->getDatePost()?></div>
      <div class="description">有效期限： <?= $job_detail->getDateExpired()?></div>

		</div>
	</div>
	<div class="item">
		<div class="content">	
			<div class="header blue">工作內容描述</div>
			<div class="description ckeditor-container"><div class="cke_editable cke_editable_themed cke_contents_ltr cke_show_borders"> <?= $job_detail->getJobDescription()?></div></div>
		</div>
	</div>
</div>


<button class="accordion_test"> 應徵工作 <i class="dropdown icon"></i></button>

<div class="ui accordion" id="accordion_test">
  <div class="active title" style="display:none;">
    <i class="dropdown icon"></i>
  </div>
  <div class="content">
    <form class="ui form apply_form" method="post" action="/jobs/apply"> 
        <input type="hidden" name="job_id" id="job_id" value="<?= $job_detail->getId() ?>">
        <input type="hidden" name="apply_user_id" id="apply_user_id" value="<?= $_SESSION['user_id']?>">
        <div class="field textinput">
        <input type="text" name="name" id="name"><label class="up" for="name">姓名</label>
        </div>     
        <div class="field textinput">
        <input type="text" name="email" id="email"><label class="up" for="email">信箱</label>
        </div>
        <div class="field textinput">
        <input type="text" name="phone" id="phone"><label class="up" for="phone">電話</label>
        </div>
        <div class="field textinput">
         <input name="age_year" id="age_year" type="text"><label class="up">出生年份</label> 
        </div>
        <div class="field textinput">
        <input name="graduate_year" id="graduate_year" type="text"><label class="up">畢業年份</label>
        </div>
        <div class="field textinput">
        <input type="text" name="gradute_school" id="gradute_school"><label class="up" for="gradute_school">畢業學校</label>
        </div>
        <div class="field textinput">
        <input type="text" name="gradute_master" id="gradute_master"><label class="up" for="gradute_master">畢業科系</label>
        </div>
        <div class="field textinput">
        <input type="text" name="latest_company" id="latest_company"><label class="up" for="latest_company">目前或最後一間公司名稱</label>
        </div>
        <div class="field textinput">
        <input type="text" name="latest_job_title" id="latest_job_title"><label class="up" for="latest_job_title">目前或最後一份工作職稱</label>
        </div>


        <div class="field"><label>英文能力</label>
            <select name="english_ability_id" id="english_ability_id" class="ui selection dropdown"> 
            <option value=""></option>
                <?php
                foreach($englishs as $english): ?>
                    <option value="<?=$english->getId()?>"><?=$english->getEnglish()?></option>
                <?php
                endforeach;
                ?>
            </select><br />
        </div>
        <div class="field"><label>最高學歷</label>
          <select name="highest_education_id" id="highest_education_id" class="ui selection dropdown" > 
          <option value=""></option>
              <?php
              foreach($educations as $education): ?>
                  <option value="<?=$education->getId()?>"><?=$education->getEducation()?></option>
              <?php
              endforeach;
              ?>
          </select><br />
      </div>
      


      <div class="field resume_container" style="display:none;">
        <span class="resume_preview">履歷預覽：<a class="resume_link" target="_blank" href=""></a></span> 
        <div class="ui checkbox">
          <input type="checkbox" name="resume_delete">
          <label>刪除已上傳履歷。</label>
        </div>
      </div>
       
      <div class="field"><label>上傳履歷（大小不超过 20M，僅支持 pdf/docx/doc 格式）</label>
         <input type="hidden" name="cv_path" value="">  
         <input accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="newfile" id="newfile"> 
      </div>
        <div class="field"><label>處理資料的相關能力經驗</label>
        <textarea type="text" name="experience" id="experience"></textarea>
        </div>
        
        <div class="field"><label>其他能力, 經驗</label>
          <textarea type="text" name="other" id="other"></textarea>
        </div>
        <div class="ui message">
        <ul><li>求職者之個人履歷將由本網站代為寄至求才企業所登記的電子郵件地址。</li></ul>
        </div>

        <div id="submit_apply" class="ui primary submit right floated button" >應徵工作</div>
        <div class="ui green right floated <?=($apply_id)?'':'disabled'?> button" onclick="user_apply_tmp()">代入履歷資料</div>
        <div class="ui green right floated button" onclick="update_tmp()">儲存成預設履歷</div>
        <div class="ui gray right floated button" onclick="clear_form()">清空</div>
    </form>
  </div>
</div>      

<div class="ui small basic test modal" id="checkMember">
    <div class="ui icon header">
      <i class="user icon"></i>
      應徵工作須先登入會員
    </div>
    <div class="actions center">
      <div class="ui red basic cancel inverted button">
        <i class="remove icon"></i>
        取消申請
      </div>
      <div class="ui green ok inverted button">
        <i class="checkmark icon"></i>
        前往登入畫面
      </div>
    </div>
  </div>


<div class="ui small basic test modal" id="save_apply">
  <div class="ui icon header">
    <i class="Newspaper icon"></i>
    本次填寫的履歷資料要更新成為您的預設履歷資料嗎？
  </div>
  <div class="actions center">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      僅在這次使用
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      更新預設履歷
    </div>
  </div>
</div> 
<div class="ui small basic test modal" id="check_apply">
  <div class="ui icon header">
    <i class="mail icon"></i>
    您有申請過該工作，請問確定再次寄出職缺申請嗎？？
  </div>
  <div class="actions center">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      不重複申請
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      確定
    </div>
  </div>
</div> 
<script>
 $('#newfile').bind('change', function() {
  var size= 20971520;
     if (document.getElementById('newfile').value) {
        var file_size=document.getElementById('newfile').files[0].size;
          if(file_size>=size){
              document.getElementById('newfile').value = ''
              alert('檔案大小不能超過 '+size/1048576+' M');
              return false;
          }
    }
}); 
function update_tmp() 
{
  var form = $('.apply_form')[0]; 
  var formData = new FormData(form);
  formData.set("experience", CKEDITOR.instances.experience.getData());
  formData.set("other", CKEDITOR.instances.other.getData());
  $.ajax({
      url: "/user/apply/update",
      data: formData,
      type: 'POST',
      contentType: false,
      processData: false,
      success: function()
      {
          alert('成功更新履歷'); // show response from the php script.
          window.location ='/jobs/'+ <?=$job_detail->getId()?>;
      }
  })
}

$(".apply_form").submit(function(e) {
    e.preventDefault(); // avoid to execute the actual submit of the form.
    if( $('.ui.form.apply_form').form('is valid') ){
        url =  $(this)[0]['action'];
        $.ajax({
           type: "POST",
           url: '/apply/check',
           data: $(".apply_form").serialize(), // serializes the form's elements.
           success: function(data)
           {
              if( data.error ){
                    $('#check_apply').modal({
                       // closable  : false,
                        onDeny    : function(){

                        },
                        onApprove : function() {
                          apply();
                        }
                    })
                    .modal('show');
              }else{
                apply();
              }
           }
         });
    }    
});

function apply(){
  var form = $('.apply_form')[0]; 
  var formData = new FormData(form);
  formData.set("experience", CKEDITOR.instances.experience.getData());
  formData.set("other", CKEDITOR.instances.other.getData());

  $.ajax({
     type: "POST",
     url: $(".apply_form")[0].action,
     data: formData,
      contentType: false,
      processData: false,
     success: function(data)
     {
         alert('已寄出職缺申請'); // show response from the php script.
         $('#save_apply').modal({
            onDeny    : function(){
              window.location ='/jobs/'+ <?=$job_detail->getId()?>;
            },
            onApprove : function() {
              update_tmp();
            }
        })
        .modal('show');
     }
   });
}

    $('.accordion_test').on('click', function() {

      <?php if( isset($_SESSION['login']) ){ ?>
        if($('.ui.form.apply_form').hasClass('visible')){
          $('#accordion_test').accordion('close',0);
        }else{
          $('#accordion_test').accordion('open',0);
        }
      <?php }else{ ?>
        $('#checkMember')
              .modal({
                // closable  : false,
                onDeny    : function(){
                  // window.alert('Wait not yet!');
                  // return false;
                },
                onApprove : function() {
                  window.location.href = '../login';

                }
              })
              .modal('show');
      <?php } ?>
      
    })
    CKEDITOR.replace( 'experience' );
    CKEDITOR.replace( 'other' );
    $('.ui.selection.dropdown')
      .dropdown()
    ;
    $('.ui.dropdown')
      .dropdown()
    ;
    function clear_form(){
      $('.apply_form')[0].reset();
      CKEDITOR.instances.experience.setData("");
      CKEDITOR.instances.other.setData("");
      $('.resume_container').hide();
      $('.resume_link').attr('href','');
      $('.resume_link').text('');
      $('.ui.form.apply_form')
        .form('set values', {
          job_id : '<?= $job_detail->getId() ?>',
          apply_user_id : '<?= $_SESSION['user_id']?>'
        })
      ;
    }
    <?php if( $apply_id ){ ?>

    
    function user_apply_tmp(){
      <?php 
        $file_path = $_SERVER['DOCUMENT_ROOT'] .'/application/'.$apply->getCVpath();
        $web_path = $base_url.'/application/'.$apply->getCVpath();
        if( is_file($file_path) ){
          echo "$('.resume_link').attr('href','".$web_path."');";
          echo "$('.resume_link').text('".$apply->getCVpath()."');";
          echo "$('.resume_container').show();";
        }
      $experience_value = json_encode($apply->get_experience());
      $other_value = json_encode($apply->getOther());
      ?>
      $('.ui.form.apply_form')
        .form('set values', {
          name : '<?=$apply->getName()?>',
          email : '<?=$apply->getEmail()?>',
          phone : '<?=$apply->getPhone()?>',
          latest_company : '<?=$apply->get_latest_company()?>',
          latest_job_title : '<?=$apply->get_latest_job_title()?>',
          gradute_school : '<?=$apply->get_gradute_school()?>',
          gradute_master: '<?=$apply->get_gradute_master()?>',
          age_year : '<?= $apply->get_age_year()?>',
          graduate_year: '<?= $apply->get_graduate_year()?>',
          cv_path: '<?= $apply->getCVpath() ?>'
        })
      ;
      
      CKEDITOR.instances.experience.setData(<?= $experience_value ?>);
      CKEDITOR.instances.other.setData(<?=$other_value?>);
      $('#english_ability_id').dropdown('set selected',<?= $apply->get_english_ability_id()?>); 
      $('#highest_education_id').dropdown('set selected',<?= $apply->get_highest_education_id()?>); 
      $( ".field.textinput input").each(function( index ) {
        if ($(this)[0].value != "") {
          $(this).addClass('filled');
        } else {
          $(this).removeClass('filled');
        }
      });
    }
    <?php } ?>
</script>
<? include('footer.phtml'); ?>