<? include('header.phtml'); ?>

<script type="text/javascript" src="<?=$base_url?>/dist/calendar/calendar.min.js"></script>
<link rel="stylesheet" href="<?=$base_url?>/dist/calendar/calendar.min.css" />
    <script src="/dist/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="<?=$base_url?>/dist/job_type_modal.css">

    <style type="text/css">
    h4.ui.header {
        margin-top: 0;
    }
    
    div.status-container-edit span,
    div.status-container-show span {
        display: block;
    }
    
    .ui.form.status_form {
        padding: 0;
    }
    
    .ui.menu.title {
        box-shadow: none;
        border: 0;
    }
    
    .ui.form .fields {
        margin: 0 0em 1em;
    }
    
    .ui.form .fields .wide.field {
        padding-left: 0;
        padding-right: 0;
    }
    
    </style>
    <script type="text/javascript">
    $(document)
        .ready(function() {
            var post = new Date($('#date_post')[0].value);
            $('#calendar').calendar({
               type: 'date',
                formatter: {
                  date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth()+1;
                    var year = date.getFullYear();
                    return year+ '/' + ("0" + (month)).slice(-2) + '/' + ("0" + day).slice(-2);
                  }
                },
               minDate: new Date(post.getFullYear(),post.getMonth(),post.getDate()+7),
            });
            $.fn.form.settings.rules.salary_greater = function(value, field) {
                return (parseInt(value) >= parseInt($('#' + field)[0].value));
            };
            $.fn.form.settings.rules.salary_max_check = function(value,rulevalue) {
              return (parseInt(value) < parseInt(rulevalue) );
            };
            $.fn.form.settings.rules.salary_min_law_check = function(value, rulevalue) {
                return (parseInt(value) >= parseInt(rulevalue));
            };
            $('.ui.form.jobs_form')
                .form({
                    on: 'blur',
                    inline: true,
                    onFailure: function() {
                        console.log('fail');
                    }
                });
            CKEDITOR.replace('job_description');
            $('.ui.form.jobs_form')
                .form({
                    on: 'blur',
                    inline: true,
                    fields: {
                        job_title: {
                            identifier: 'job_title',
                            rules: [{
                                type: 'empty',
                                prompt: '請輸入工作職稱'
                            }]
                        },
                        company: {
                            identifier: 'company',
                            rules: [{
                                type: 'empty',
                                prompt: '請輸入公司名稱'
                            }]
                        },
                        website: {
                            identifier: 'website',
                            rules: [{
                                type: 'url',
                                prompt: '請輸入有效網址'
                            }]
                        },
                        job_type_id: {
                            identifier: 'job_type_id',
                            rules: [{
                                type: 'empty',
                                prompt: '請選擇工作類型'
                            }]
                        },
                        experience_id: {
                            identifier: 'experience_id',
                            rules: [{
                                type: 'empty',
                                prompt: '請選擇經驗需求'
                            }]
                        },
                        verify_id: {
                            identifier: 'verify_id',
                            rules: [{
                                type: 'empty',
                                prompt: '請選擇審核狀態'
                            }]
                        },
                        visible_id: {
                            identifier: 'visible_id',
                            rules: [{
                                type: 'empty',
                                prompt: '請選擇上架狀態'
                            }]
                        },
                        category_id: {
                            identifier: 'category_id',
                            rules: [{
                                type: 'empty',
                                prompt: '請選擇職務分類'
                            }]
                        },
                        place: {
                            identifier: 'place',
                            rules: [{
                                type: 'empty',
                                prompt: '請輸入工作地點'
                            }]
                        },

                        salary_mon_min: {
                            identifier: 'salary_mon_min',
                            rules: [{
                                type: 'empty',
                                prompt: '請輸入最低月薪'
                            }, {
                                type: 'salary_min_law_check[21009]',
                                prompt: '最低月薪須超過勞基法規定 NT${ruleValue}'
                            },{
                                type   : 'salary_max_check[1000000]',
                                prompt : '請輸入合理範圍薪資'
                              }]
                        },
                        salary_mon_max: {
                            identifier: 'salary_mon_max',
                            optional: true,
                            rules: [{
                                type: 'salary_greater[salary_mon_min]',
                                prompt: '若有設置最高月薪，最高月薪需大於最低月薪'
                            },{
                                type   : 'salary_max_check[1000000]',
                                prompt : '請輸入合理範圍薪資'
                              }]
                        },
                        date_expired: {
                            identifier: 'date_expired',
                            debug: true,
                            rules: [{
                                type: "regExp[^(19|20)\\d\\d[- /.](0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])$]",
                                prompt: '有效期限：請輸入合法的日期 YYYY/MM/DD'
                            }]
                        }

                    }
                });
        });
    </script>
    <h2 class="ui header center aligned blue">審核職缺</h2>
    <h4 class="ui header center aligned">張貼人：<?=$job->get_owener_email()?>（ <?=$job->get_owener_name()?> ）</h4>
    <form class="ui form jobs_form" method="post" action="/jobs/admin/edit" enctype="multipart/form-data">
        <input type="hidden" name="id" id="id" value="<?= $job->getId()?>">
        <div class="fields">
            <div class="eight wide field">
                <select name="verify_id" id="verify_id" class="ui selection dropdown" onchange="progressChange(this)">
                    <?php 
                      $selected_a = '';
                      $selected_b = '';
                      if( $job->getVerify() == 0){
                        $selected_a = 'selected';
                      }else{
                        $selected_b = 'selected';
                      }
                    ?>
                    <option value="">審核狀態</option>
                    <option value="1" <?php echo $selected_b; ?>>審核通過</option>
                    <option value="0" <?php echo $selected_a; ?>>審核不通過</option>
                </select>
            </div>
            <div class="eight wide field">
                <select name="visible_id" id="visible_id" class="ui <?= ($job->getVisible() == 0)?'disabled':'0'?> selection dropdown">
                    <?php 
                      $selected_a = '';
                      $selected_b = '';
                      if( $job->getVisible() == 0){
                        $selected_a = 'selected';
                      }else{
                        $selected_b = 'selected';
                      }
                    ?>
                    <option value="">上架狀態</option>
                    <option value="1" <?php echo $selected_b; ?>>上架</option>
                    <option value="0" <?php echo $selected_a; ?>>下架</option>
                </select>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="field textinput">
            <input type="text" name="job_title" id="job_title" value="<?= $job->getJobTitle()?>">
            <label class="up" for="job_title">工作職稱</label>
        </div>
        <div class="field textinput">
            <input type="text" name="company" id="company" value="<?= $job->getCompany()?>">
            <label class="up" for="company">公司名稱</label>
        </div>
        <div class="field textinput">
            <input type="text" name="company_depart" id="company_depart" value="<?= $job->getCompanyDepart()?>">
            <label class="up" for="company_depart">公司部門（選填）</label>
        </div>
        <div class="field textinput">
            <input type="text" name="website" id="website" value="<?= $job->getWebsite()?>">
            <label class="up" for="website">網址</label>
        </div>
        <div class="field">
            <label>工作類型</label>
            <select name="job_type_id" id="job_type_id" class="ui selection dropdown">
                <option value=""></option>
                <?php 
            foreach($job_types as $job_type): ?>
                <option value="<?=$job_type->getId()?>" <?php if( $job->getJobTypeId() == $job_type->getId() ){ echo 'selected';} ?>>
                    <?=$job_type->getJobType()?>
                </option>
                <?php
            endforeach;
            ?>
            </select>
            <br />
        </div>
        <div class="field">
            <label>經驗需求</label>
            <select name="experience_id" id="experience_id" class="ui selection dropdown">
                <option value=""></option>
                <?php
            foreach($experiences as $experience): ?>
                    <option value="<?=$experience->getId()?>" <?php if( $job->getExperienceId() == $experience->getId() ){ echo 'selected';} ?>>
                        <?=$experience->getExperience()?>
                    </option>
                    <?php
            endforeach;
            ?>
            </select>
            <br />
        </div>
        <div class="field">
            <label>職務分類</label>
            <label class="back-label"><a onclick="openIntro()" class="ui orange label">我該怎麼選？</a></label>
            <select name="category_id" id="category_id" class="ui selection dropdown">
                <option value=""></option>
                <?php
            foreach($categorys as $category): ?>
                    <option value="<?=$category->getId()?>" <?php if( $job->getCategoryId() == $category->getId() ){ echo 'selected';} ?>>
                        <?=$category->getCategory()?>
                    </option>
                    <?php
            endforeach;
            ?>
            </select>
            <br />
        </div>
        <div class="field textinput">
            <input type="text" name="place" id="place" value="<?= $job->getPlace()?>">
            <label class="up" for="place">工作地點</label>
        </div>
        <div class="field textinput">
            <input type="number" name="salary_mon_min" id="salary_mon_min" value="<?= $job->get_salary_mon_min()?>">
            <label class="up" for="salary_mon_min">最低月薪</label>
        </div>
        <div class="field textinput">
            <?php 
                $salary_mon_max = $job->get_salary_mon_max();
                $salary_mon_max_str = '';
                if($salary_mon_max>0){
                  $salary_mon_max_str = $salary_mon_max;
                } 
            ?>
            <input type="number" name="salary_mon_max" id="salary_mon_max" value="<?= $salary_mon_max_str ?>">
            <label class="up" for="salary_mon_max">最高月薪（ 未填寫會顯示依能力經驗面議。）</label>
        </div>
        <?php
        $file_path = $_SERVER['DOCUMENT_ROOT'] .'/job_logo_crop/'.$job->getLogoPath();
        $web_path = $base_url.'/job_logo_crop/'.$job->getLogoPath();
        if( is_file($file_path) ){
          echo '
            <div class="field"><span class="resume_preview">Logo 預覽：<a target="_blank" href="'.$web_path.'"><label class="resume_preview">'.$job->getLogoPath().'</a></span> 
              <div class="ui checkbox">
                <input type="checkbox" name="logo_delete">
                <label>刪除已上傳 Logo。</label>
              </div>
            </div>
          ';
        }

      ?>
            <div class="field">
                <label>上傳公司 Logo（大小不超过 2M，僅支持圖片格式）</label>
                <input type="hidden" name="logo_path" value="<?= $job->getLogoPath()?>">
                <input accept="image/*" type="file" name="newfile" id="newfile">
            </div>
            <div class="field textinput">
                <label>工作內容描述</label>
                <textarea name="job_description" id="job_description">
                    <?= $job->getJobDescription()?>
                </textarea>
            </div>
            <div class="field"><label>有效期限（日期不能早於從刊登日起算七日）</label>
               <div class="ui calendar" id="calendar">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input value="<?= $job->getDateExpired()?>" name="date_expired" id="date_expired" type="text">
                  </div>
                </div>
            </div>
            <div class="field">
                <label>刊登日期</label>
                <input disabled value="<?= $job->getDatePost()?>" name="date_post" id="date_post" type="date">
            </div>
            <div class="ui error message"></div>
            <div class="ui primary submit right floated button">儲存職缺</div>
            <div class="ui green right floated button" onclick="jobs_form_reset()">取消更新</div>
            <a href="/jobs/dashboard/admin" class="right floated ui icon labeled button">
                <i class="left chevron icon"></i> 回 管理職缺頁
            </a>
    </form>
    <div class="ui modal">
        <i class="close icon"></i>

        <h2 class="header">
        職務分類
    </h2>
        <div class="ui divided list">
            <div class="item">
                <h3 class="header">資料科學家 (Data Scientist)</h3>
                <div class="modal-list-item">
                    <div class="ui teal label">必備</div>
                    <ul class="about_ul">
                        <li>統計, 機器學習</li>
                        <li>領域知識 / 商業邏輯</li>
                        <li>資料分析工具 (R, Python, SAS, SPSS, etc)</li>
                        <li>科學研究思維，包含如何定義問題及驗證假設</li>
                        <li>良好人際溝通能力</li>
                    </ul>
                </div>
                <div class="modal-list-item">
                    <div class="ui grey label">選配</div>
                    <ul class="about_ul">
                        <li>實驗設計方法</li>
                        <li>非結構性資料處理技術, 例如 text mining, computer vision, signal processing 等</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <h3 class="header">資料分析師 (Data Analyst)</h3>
                <div class="modal-list-item">
                    <div class="ui teal label">必備</div>
                    <ul class="about_ul">
                        <li>統計技術</li>
                        <li>領域知識 商業邏輯</li>
                        <li>資料分析工具 (R, Python, SAS, SPSS, etc)</li>
                        <li>資料倉儲工具</li>
                        <li>快速資料視覺化建立工具 (Excel, Tableau, etc)</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <h3 class="header">資料處理工程師 (Data Engineer)</h3>
                <div class="modal-list-item">
                    <div class="ui teal label">必備</div>
                    <ul class="about_ul">
                        <li>各式資料庫 (RDBMS, NoSQL, 非結構性 DBMS such as Hadoop)</li>
                        <li>資料倉儲工具 &amp; ETL</li>
                        <li>資料搜尋引擎 (ElasticSearch, BigQuery, etc)</li>
                        <li>分散式系統管理</li>
                    </ul>
                </div>
                <div class="modal-list-item">
                    <div class="ui grey label">選配</div>
                    <ul class="about_ul">
                        <li>即時資料處理架構 (Spark, Storm, etc)</li>
                        <li>基本統計及資料清理方法</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <h3 class="header">資料視覺化工程師 (Data Visualization Engineer)</h3>
                <div class="modal-list-item">
                    <div class="ui teal label">必備</div>
                    <ul class="about_ul">
                        <li>快速資料視覺化建立工具 (Excel, Tableau, etc)</li>
                        <li>全端 (full-stack) 網頁程式設計</li>
                        <li>資料視覺化程式庫 (D3, Raphael, Paper, etc)</li>
                    </ul>
                </div>
            </div>
            <div class="item">
                <h3 class="header">資料專案經理 (Data Program Manager)</h3>
                <div class="modal-list-item">
                    <div class="ui teal label">必備</div>
                    <ul class="about_ul">
                        <li>資料分析專案流程</li>
                        <li>領域知識 / 商業邏輯</li>
                        <li>基本資料前處理工具</li>
                        <li>基本資料探索工具</li>
                        <li>協調資料擁有者，資料分析者，及資料產品開發團隊的良好溝通能力</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
    $('#newfile').bind('change', function() {
        var size= 2097152;
         if (document.getElementById('newfile').value) {
            var re = /\.(jpg|gif|png)$/i;
              if (!re.test(document.getElementById('newfile').value)){
                document.getElementById('newfile').value = ''
                alert('只允許上傳 JPG/GIF/PNG 圖片檔');
              }
            var file_size=document.getElementById('newfile').files[0].size;
              if(file_size>=size){
                  document.getElementById('newfile').value = ''
                  alert('檔案大小不能超過 '+size/1048576+' M');
                  return false;
              }
        }
    });
    function jobs_form_reset() {
        <?php 
        $salary_mon_max = $job->get_salary_mon_max();
        $salary_mon_max_str = '';
        if($salary_mon_max>0){
          $salary_mon_max_str = $salary_mon_max;
        } 
      ?>
        $('.ui.form.jobs_form')
            .form('set values', {
                job_title: '<?= $job->getJobTitle()?>',
                company: '<?= $job->getCompany()?>',
                website: '<?= $job->getWebsite()?>',
                place: '<?= $job->getPlace()?>',
                salary_mon_min: '<?= $job->get_salary_mon_min()?>',
                salary_mon_max: '<?= $salary_mon_max_str ?>'
            });
        <?php 
        $job_description = json_encode($job->getJobDescription());
      ?>
        CKEDITOR.instances.job_description.setData(<?= $job_description ?>);
        $('#job_type_id').dropdown('set selected', '<?=$job->getJobTypeId()?>');
        $('#experience_id').dropdown('set selected', '<?=$job->getExperienceId()?>');
        $('#category_id').dropdown('set selected', '<?= $job->getCategoryId() ?>');
        $('#visible_id').dropdown('set selected', '<?= $job->getVisible() ?>');
        $('#verify_id').dropdown('set selected', '<?= $job->getVerify() ?>');

        $(".field.textinput input").each(function(index) {
            if ($(this)[0].value != "") {
                $(this).addClass('filled');
            } else {
                $(this).removeClass('filled');
            }
        });
    }

    function progressChange(obj) {
        var $form = $(obj).closest('form');
        var dataString = $form.form('get value', 'verify_id');
        if (dataString == '0') {
            $('#visible_id').parent().addClass('disabled');
            $('#visible_id').dropdown('set selected', '0');
        } else {
            $('#visible_id').parent().removeClass('disabled');
            $('#visible_id').dropdown('set selected', '1');
        }
    }

    $('.ui.selection.dropdown').dropdown();
    $('.ui.checkbox').checkbox();

    function openIntro() {
        $('.ui.modal')
            .modal('show');
    }
    </script>
    <? include('footer.phtml'); ?>
