<? include('header.phtml'); ?>
<script type="text/javascript" src="<?=$base_url?>/dist/jquery.tablesorter.min.js"></script>
<style>
  @import url('http://fonts.googleapis.com/css?family=Amarante');

  table form.ui.form {
    padding: 0;
    margin: 0;
  }
  form .ui.selection.dropdown {
    min-width: 6em;
  }
  div.status-container-edit span,div.status-container-show span{
    display: block;
  }


</style>
<div class="ui header"></div>
<h2 class="ui header center aligned blue">
    我的應徵紀錄
</h2>
<table class="ui selectable striped table" id="keywords">
  <thead>
    <tr>
      <th><span>應徵日期</span></th>
      <th><span>應徵公司</span></th>
      <th><span>應徵職位</span></th>
      <th><span>履歷預覽</span></th>
    </tr>
  </thead>
    <tbody>
 <?php foreach($applications as $application): ?> 

      <tr>
        <td><?= $application->get_send_time()?></td>
        <td><?= $application->get_company()?></td>
        <td><?= $application->get_job_title() ?></td>
        <td><button  class="ui button primary" onclick="openIntro(<?=$application->getId() ?>)">履歷</button>

        </td>

 <div class="ui modal" id="apply_<?=$application->getId() ?>"><i class="close icon"></i><div class="content">
<?php 
    $english = $english_mapper->getEnglishById( $application->get_english_ability_id() ); 
    $english_ability_id = $english['english'];
    $education = $education_mapper->getEducationById( $application->get_highest_education_id() );
    $highest_education_id = $education['highest_education'];

    $englishs = $english_mapper->getEnglish();
    $english_opt = '（';
    foreach($englishs as $english): $english_opt .= $english->getEnglish().'/'; endforeach;
    $english_opt = substr($english_opt,0,-1) . '）';

    $educations = $education_mapper->getEducation();
    $educations_opt = '（';
    foreach($educations as $education): $educations_opt .= $education->getEducation().'/'; endforeach;
    $educations_opt = substr($educations_opt,0,-1) . '）';

    $experience_value = json_encode($application->get_experience());
    $other_value = json_encode($application->getOther());
?> 
您好，<?=$application->getName()?> 透過 資料科學人才媒合平台 向貴單位投遞履歷，以下是他/她的履歷資料。<br><br>
姓名：<?=$application->getName()?><br>
信箱：<?=$application->getEmail()?><br>
電話：<?=$application->getPhone()?><br>
目前或最後一間公司名稱：<?=$application->get_latest_company()?><br>
目前或最後一份工作職稱：<?=$application->get_latest_job_title()?><br>
畢業學校：<?=$application->get_gradute_school()?><br>
畢業科系：<?=$application->get_gradute_master()?><br>
英文能力：<?=$english_ability_id?> <?=$english_opt?><br>
最高學歷：<?=$highest_education_id?> <?=$educations_opt?><br>
畢業年份：<?=$application->get_graduate_year()?><br>
出生年份：<?=$application->get_age_year()?><br>
<? $file_path = $_SERVER['DOCUMENT_ROOT'] .'/application/'.$application->getCVpath();    
  if(is_file($file_path)){  
     $web_path = $base_url.'/application/'.$application->getCVpath(); 
     echo '附件：<a target="_blank" href="'.$web_path.'">'.$application->getCVpath().'</a>' ; 
  }else{
     echo '附件：無' ;
  }
?><br>
處理資料的相關能力經驗：<br>
<?= $application->get_experience() ?><br>
其他能力、經驗：<br>
<?= $application->getOther() ?><br>


    ******************<br><br>
    本徵才服務由<a target="_blank" href="http://foundation.datasci.tw/">台灣資料科學協會</a>提供。如有任何問題或建議，歡迎隨時來信與我們聯絡： <a href="mailto:secretary@datasci.tw" target="_top">secretary@datasci.tw</a>

    
    

      </div></div> 
      </tr>
     

 <?php endforeach; ?>
</table>

<script>
    function openIntro(id){
        $('#apply_'+id)
          .modal('show')
        ;
    } 
    $('.ui.form').form({});
    $('#keywords').tablesorter(); 


</script>
<? include('footer.phtml'); ?>