<? include('header.phtml'); ?>
<style type="text/css">
  .ui.segment {
    border-radius: 0;
  }
</style>
<script>
    $(document)
        .ready(function() {
            $('.ui.form.login_form')
              .form({
                on: 'blur',
                inline: true,
                fields: {
                  password: {
                    identifier: 'new_pwd',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的新密碼'
                      }
                    ]
                  },
                  match: {
                    identifier  : 're_pwd',
                    rules: [
                      {
                        type   : 'match[new_pwd]',
                        prompt : '兩次密碼輸入不同 請檢查'
                      }
                    ]
                  },
                }
              })
            ; 
             <?php if( isset($_SESSION['error_msg']) ){ ?>

              $('.ui.form.login_form').form('add prompt','<?= $_SESSION['error_msg']['field']?>','<?= $_SESSION['error_msg']['error']?>');
          
            <?}?>
        });
    </script>
<div class="ui header"></div>
<h2 class="ui blue header center aligned">更改密碼</h2>
<form class="ui form login_form" method="post" action="/password/edit">   
    <input type="hidden" name="token" id="token" value="<?= $_GET['token']?>">
    <input type="hidden" name="email" id="email" value="<?= $_GET['email']?>">

    <div class="field">
      <label>新密碼</label>
      <input type="password" name="new_pwd" id="new_pwd">
    </div>
    <div class="field">
      <label>確認密碼</label>
      <input type="password" name="re_pwd" id="re_pwd">
    </div>
    <div class="ui error message"></div>
    <div class="ui breadcrumb form_button_breadcrumb">
      <a class="section" href="/login">登入</a>
      <div class="divider"> / </div>
      <a class="section" href="/user/new">註冊</a>
      <div class="divider"> / </div>
      <a class="section" href="/confirmation/new">重發認證信</a>
      <div class="divider"> / </div>
      <a class="section" href="/password/new">忘記密碼申請</a>
    </div>
    <button class="form_submit ui primary right floated button" type="submit">更改我的密碼</button>
</form>
<? include('footer.phtml'); ?>