<? include('header.phtml'); ?>
<script>

    $(document)
        .ready(function() {
   
            $('.ui.form.user_form')
              .form({
               
              })
            ; 
            $('.ui.form.apply_form')
              .form({
               
              })
            ; 
        });
    </script>
<form class="ui form user_form" method="post" action="/user/update"> 
    <div class="ui primary submit right floated button">儲存</div>
</form>
<form class="ui form apply_form" method="post" action="/user/apply/update"> 
    <div class="ui primary submit right floated button">儲存</div>
</form>
<? include('footer.phtml'); ?>
