<? include('header.phtml'); ?>
<script type="text/javascript" src="<?=$base_url?>/dist/jquery.tablesorter.min.js"></script>

<style>
  
  table form.ui.form {
    padding: 0;
    margin: 0;
  }
  form .ui.selection.dropdown {
    min-width: 6em;
  }
  div.status-container-edit span,div.status-container-show span{
    display: block;
  }
</style>
<div class="ui header"></div>
<h2 class="ui header center aligned blue">
    管理會員
</h2>
<form method="get" action="/users/admin">
    <div class="ui action left icon input">
        <i class="search icon"></i>
        <input type="search" name="keyword" value="" placeholder="Search">
        <button class="ui button">搜尋</button>
      </div>
</form>
<!-- <div class="ui header"> -->
<h4 class="ui right floated header">
  共有 <?= $result->total ?> 個職缺
</h4>
<!-- </div> -->
<table class="ui selectable striped table" id="keywords">
  <thead>
    <tr>
      <th><span>姓名</span></th>
      <th><span>信箱</span></th>
      <th><span>電話</span></th>
      <th><span>帳號情況</span></th>
      <th><span>管理層級</span></th>
    </tr>
  </thead>
    <tbody>
<?php foreach($users as $user): ?>
      <tr>
      <td><?= $user->getName()?></td>
      <td><?= $user->getEmail()?></td>
      <td><?= $user->getPhone()?></td>
      <td>

      <form class="ui form" action="/user/status/update">
        <input type="hidden" name="id" value="<?= $user->getId()?>">
        <?php 
          $selected_a = '';
          $selected_b = '';
          if( $user->getStatus() == 0){
            $selected_a = 'selected';
          }else{
            $selected_b = 'selected';
          }
        ?>
        <select name="status" class="ui selection dropdown" onchange="progressChange(this)"> 
          <option value="">帳號情況</option>
          <option value="0"  <?php echo $selected_a; ?>>停用</option>
          <option value="1"  <?php echo $selected_b; ?>>啟用</option>
        </select>
      </form>
</td>
      <td><form class="ui form" action="/user/authority/update">
      <input type="hidden" name="id" value="<?= $user->getId()?>">
        <?php 
          $selected_a = '';
          $selected_b = '';
          if( $user->getAuthority() == 0){
            $selected_a = 'selected';
          }else{
            $selected_b = 'selected';
          }
        ?>
      <select name="authority" class="ui selection dropdown" onchange="progressChange(this)"> 
        <option value="">管理層級</option>
        <option value="0" <?php echo $selected_a; ?>>一般</option>
        <option value="1" <?php echo $selected_b; ?>>管理員</option>
      </select>
</form></td>
    </tr>

<?php endforeach; ?>
</tbody></table>

<?php echo $Paginator->createLinks($path,$url); ?> 

<script type="text/javascript">
    $('#keywords').tablesorter(); 
    $('.ui.form').form({})
    $('.ui.selection.dropdown').dropdown();

    function progressChange(obj) {
       var $form = $(obj).closest('form');
       var dataString = $form.form('get values');
        $.ajax({
            type: "POST",
            url: $form[0]['action'],
            data: dataString,
            success: function(data) {
                alert(data.success);
            },
        });
}
</script>
<? include('footer.phtml'); ?>