<? include('header.phtml'); ?>
<script src="/dist/ckeditor/ckeditor.js"></script>
<style type="text/css">
  .ui.form.user_form{
    padding-bottom: 3em;
  }
</style>
 <script>

    $(document)
        .ready(function() {
            $('.ui.form.user_form')
              .form({
                inline: true,
                on: 'blur',
                fields: {
                  email: {
                    identifier  : 'email',
                    rules: [
                      {
                        type   : 'email',
                        prompt : '請輸入有效 e-mail'
                      }
                    ]
                  },
                  name     : {
                    identifier  : 'name',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的名字'
                      }
                    ]
                  },
                  phone : {
                    identifier  : 'phone',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的電話'
                      }
                    ]
                  },
                   password: {
                    identifier: 'pwd',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您目前的密碼'
                      }
                    ]
                  },
                  match: {
                    identifier  : 're_pwd',
                    rules: [
                      {
                        type   : 'match[new_pwd]',
                        prompt : '兩次密碼輸入不同 請檢查'
                      }
                    ]
                  },
                }
              })
            ; 
            <?php if( isset($_SESSION['error_msg']) ){ ?>

              $('.ui.form.user_form').form('add prompt','<?= $_SESSION['error_msg']['field']?>','<?= $_SESSION['error_msg']['error']?>');
          
            <?}?>
        });
    </script>
<div class="ui header"></div>
<h2 class="ui blue header center aligned">更改會員資料</h2>


<?php if( !($_SESSION['error_msg']) && $_SESSION['last_url'] == '/user/update' && $post_msg ){ ?>
<div class="ui success message">
  <i class="close icon"></i>
  <div class="header"><?= $post_msg?></div>
</div>
<script>
$('.ui.success.message').delay('2000').fadeOut();
</script>
<?php }?>
<form class="ui form user_form" method="post" action="/user/update"> 
    <div class="field textinput">
    <input type="hidden" name="email" id="email" value="<?=$_SESSION['login']['email']?>">
    <input type="text" value="<?=$_SESSION['login']['email']?>" disabled >
    <label class="up">電子信箱</label>
    </div>
    <div class="field textinput">
      <input type="text" name="name" id="name" value="<?=$_SESSION['login']['name']?>">
      <label class="up">姓名</label>
      </div>
      <div class="field textinput">
      <input type="text" name="phone" id="phone" value="<?=$_SESSION['login']['phone']?>">
      <label class="up">聯絡電話</label>
      </div>
      <div class="field textinput">
      <input type="password" name="pwd" id="pwd" >
      <label class="up">目前密碼(我們需要你現在的密碼才能確認資料變動)</label>
      </div>
      <div class="field textinput">
        <input type="password" name="new_pwd" id="new_pwd">
        <label class="up">新密碼 (如果沒有要改變密碼，就不需要填寫)</label>
      </div>
      <div class="field textinput">
        <input type="password" name="re_pwd" id="re_pwd">
        <label class="up">確認密碼</label>
      </div>
      <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" name="people" <?php if( $_SESSION['login']['people'] ){ print('checked');} ?>>
            <label>我願意收到台灣資料科學協會所提供的人才訊息。</label>
          </div>
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="job" <?php if( $_SESSION['login']['job'] ){ print('checked');} ?>>
          <label>我願意收到台灣資料科學協會所提供的職缺訊息。</label>
        </div>
      </div>
    <div class="ui error message"></div>
    <div class="ui primary submit right floated button">儲存</div>
</form>
<script>
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
</script>
<? include('footer.phtml'); ?>