<? include('header.phtml'); ?>
<style type="text/css">
  
  .ui.segment {
    border-radius: 0;
  }
</style>
 <script>
    $(document)
        .ready(function() {
            $('.ui.form.user_form')
              .form({
                inline: true,
                on: 'blur',
                fields: {
                  email: {
                    identifier  : 'email',
                    rules: [
                      {
                        type   : 'email',
                        prompt : '請輸入有效 e-mail'
                      }
                    ]
                  },
                  name     : {
                    identifier  : 'name',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的名字'
                      }
                    ]
                  },
                  
                  phone : {
                    identifier  : 'phone',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的電話'
                      }
                    ]
                  },
                  password: {
                    identifier: 'pwd',
                    rules: [
                      {
                        type   : 'empty',
                        prompt : '請輸入您的密碼'
                      }
                    ]
                  },
                  match: {
                    identifier  : 're_pwd',
                    rules: [
                      {
                        type   : 'match[pwd]',
                        prompt : '兩次密碼輸入不同 請檢查'
                      }
                    ]
                  },
                  terms: {
                    identifier: 'terms',
                    rules: [
                      {
                        type   : 'checked',
                        prompt : '您必須同意服務條款'
                      }
                    ]
                  }
                }
              })
              <?php if( $_SESSION['user']['terms'] =='on' ){ ?>
        
                  .form('set values', {
                    terms    : true
                  })
                  
              <?}?>
               <?php if( isset($_SESSION['error_msg']) ){ ?>

                $('.ui.form.user_form').form('add prompt','email','<?= $_SESSION['error_msg']?>');
          
              <?}?>
            ; 
        });
    </script>
           
<div class="ui header"></div>
<h2 class="ui blue header center aligned">用戶註冊</h2>
<form class="ui form user_form" method="post" action="/user/new"> 
    <div class="field textinput">
    <input type="text" name="email" id="email" value="<?=$_SESSION['user']['email']?>">
    <label class="up">電子信箱</label>
    </div>
    <div class="field textinput">
    <input type="text" name="name" id="name" value="<?=$_SESSION['user']['name']?>">
    <label class="up">姓名</label>
    </div>
    <div class="field textinput">
    <input type="text" name="phone" id="phone" value="<?=$_SESSION['user']['phone']?>">
    <label class="up">聯絡電話</label>
    </div>
    <div class="field textinput">
    <input type="password" name="pwd" id="pwd" value="<?=$_SESSION['user']['pwd']?>">
    <label class="up">密碼</label>
    </div>
     <div class="field textinput">
    <input type="password" name="re_pwd" id="re_pwd">
    <label class="up">確認密碼</label>
    </div>
    <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="people" <?php if( empty($_SESSION['user']) or $_SESSION['user']['people'] =='on' ){ print('checked');} ?>>
      <label>我願意收到台灣資料科學協會所提供的人才訊息。</label>
    </div></div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" name="job" <?php if( empty($_SESSION['user']) or $_SESSION['user']['job'] =='on' ){ print('checked');} ?>>
      <label>我願意收到台灣資料科學協會所提供的職缺訊息。</label>
    </div>
  </div>
    <div class="ui error message"></div>
    <div class="ui divider"></div>

<div class="ui breadcrumb form_button_breadcrumb">
  <a class="section" href="/login">登入</a>
  <div class="divider"> / </div>
  <a class="section" href="/confirmation/new">重發認證信</a>
</div>
    <div class="form_submit ui primary submit right floated button">註冊</div>
</form>
<? include('footer.phtml'); ?>